@model ClubModels.Club

@{
    ViewData["Title"] = "Index";
}

<h2>Show Club Events</h2>

@using (Html.BeginForm("Index", "ClubEvents", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.ClubId, new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @* The dropdown list has been replaced with a text input for demonstration purposes. *@
            @Html.TextBoxFor(model => model.ClubId, new { @class = "form-control", placeholder = "Enter Club ID" })
            @Html.ValidationMessageFor(model => model.ClubId)
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Show Events" class="btn btn-default" />
        </div>
    </div>
}
