@model DataModel.Student

@{
    ViewData["Title"] = "Create";
}

<div class="modal fade" id="createStudentModal" tabindex="-1" role="dialog" aria-labelledby="createStudentModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="createStudentModalLabel">Create Student</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-action="Create">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="StudentID" class="control-label">Student ID</label>
                        <input asp-for="StudentID" class="form-control" placeholder="Enter student ID" />
                        <span asp-validation-for="StudentID" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstName" class="control-label">First Name</label>
                        <input asp-for="FirstName" class="form-control" placeholder="Enter first name" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="SecondName" class="control-label">Second Name</label>
                        <input asp-for="SecondName" class="form-control" placeholder="Enter second name" />
                        <span asp-validation-for="SecondName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RegistrationDate" class="control-label">Registration Date</label>
                        <input asp-for="RegistrationDate" class="form-control" />
                        <span asp-validation-for="RegistrationDate" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary">Create</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
