<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Week3ConnectionString"
            connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
            Initial Catalog=S00227213-Week3ConsoleApp23-db;
            Integrated Security=True"
            providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
