<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="Week3SampleAppConnection"
			 connectionString="Data Source=(LocalDb)\MSSQLLocalDB;
         Initial Catalog=ppowell-Week2SampleDB;
         Integrated Security=True"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>

</configuration>